body{
    background-image: url("./img/fundo-regras.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

img{
    height: 80%;
    width: 80%;
    box-shadow: 2px 2px 100px 10px black;
}
